$body-background-color: #E3E3E3;
$footer-background-color: #706f6f;
$white: #ffffff;
$app-title-color:#04335C;
$app-text-color:#055BA7;
$app-green-color:#F2F4F6;
$black: #000000;
$border-grey: #979797;
$text-info:#999999;